<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
<div class="hor-menu  ">
    <ul class="nav navbar-nav">

{{ $intName := .int_name }}
{{ range  $item := .menu_items }}
  {{ if eq $intName $item.InternalName }}
        <li class="menu-dropdown active">
            <a href="{{ $item.Route }}"> {{ $item.PublicName }}
                <span class="arrow"></span>
            </a>
        </li>
  {{ else }}
        <li class="menu-dropdown">
            <a href="{{ $item.Route  }}"> {{ $item.PublicName }}
                <span class="arrow"></span>
            </a>
        </li>
  {{ end }}
{{ end }}
    </ul>
</div>
